# Mac OS
.DS_Store

# Yarn
node_modules
yarn-error.log
yarn-debug.log

# Build files
dist

# api-extractor temp files
temp

# Alchemy keys and tokens
alchemy.env

.npmrc

# VSCode History Extension
.history